@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@if (TempData["success"] != null)
{
    <div id="success" class="alert alert-success">@TempData["success"]</div>
}
